body {
  font-family: 'DM Sans';
  background-color: var(--color-light-theme);
  color: var(--color-basic-text);
  cursor: url(../images/cursor-light-theme.svg), default;
}
body.dark-theme {
  background-color: var(--color-dark-theme);
  cursor: url(../images/cursor-dark-theme.svg), default;
}

main {
  background-color: var(--color-light-theme);
}
.dark-theme main {
  background-color: var(--color-dark-theme);
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}