:root {
  --color-basic-text: #111111;
  --color-brand: #4f2ee8;
  --color-interactive: #eac645;
  --color-light-theme: #f6f6f6;
  --color-dark-theme: #202024;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}