:root {
  --font-main: 'Montserrat', sans-serif;
  --font-logo: 'Seymour One', sans-serif;

  --color-brand: #F8D24E;
  --color-title: #FCFCFC;
  --color-text: #131313;
  --color-backgraund: #84A178;
  --color-backgraund-dark: #84A278;
  --color-card-first: #AEC6A5;
  --color-card-second: #EFD478;
  --color-interactive: #0A8817;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}