:root {
  --font-main: 'Montserrat', sans-serif;
  --font-logo: 'Seymour One', sans-serif;

  --color-basic-text: #111111;
  --color-brand: #4F2EE8;
  --color-interactive: #EAC645;
  --color-light-theme: #F6F6F6;
  --color-dark-theme: #202024;
  --gradient-checkbox:  linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}


