// Стилі для основних блоків

main {
  background-color: var(--color-light-theme);
}

.dark-theme main {
  background-color: var(--color-dark-theme);
}

.main-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.categories-and-support__wrapper {
  display: block;
}

.categories-list {
  margin-bottom: 40px;
}

.book-list {
  display: block;
  position: relative;
}

@media screen and (min-width: 768px) {
  .categories-and-support__wrapper {
    display: flex;
    column-gap: 32px;
    margin-bottom: 100px;
  }

  .categories-list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .categories-and-support__wrapper {
    flex-direction: column;
    column-gap: 32px;
  }

  .categories-list {
    margin-bottom: 86px;
  }

  .books-list {
    margin-left: 40px;
  }
}
