// Список категорій
.categories-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  font-family: var(--font-logo);
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);

  width: 335px;
  height: 228px;
  overflow: scroll;
  overflow-x: hidden;

  border: blue 1px solid;
}

.current-catigory {
  font-weight: 700;
  color: var(--color-brand);
  text-transform: uppercase;
}

.categories-list::-webkit-scrollbar {
  width: 8px;
}

.categories-list::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .categories-list {
    row-gap: 32px;
    width: 337px;
    height: 472px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-list {
    width: 356px;
    height: 472px;
  }
}
img{
    display: inline;
}