// Стилі рендеру карток книг

:root {
  --h2-font-color: #b4afaf;
  --category-font: 'DM Sans';
}
.books-list-title {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  margin-bottom: 40px;
}
.span-books-list-title {
  color: var(--color-brand);
}
.books-list-title-fo-all-categori {
  font-family: var(--font-main);
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--h2-font-color);
  padding-bottom: 18px;
}

.books-container {
  display: block;
}
.book-image {
  display: block;
  height: 485px;
  width: 335px;
  border-color: #e0e0e0;
  border-radius: 8px;
}
.book-info {
  padding-top: 14px;
  height: 50px;
}
.book-title {
  overflow: hidden;
  height: 18px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-main);
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
}
body.dark .book-title {
  color: var(--color-light-theme);
}

.book-autor {
  height: 14px;
  overflow: hidden;
  font-family: var(--font-main);
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  margin-top: 4px;
  color: #b4afaf;
}

body.dark .book-autor {
  color: var(--color-light-theme);
}
.category-books-button {
  display: block;
  margin-left: auto;
  margin-top: 8px;
  height: 46px;
  width: 124px;
  border-radius: 40px;
  border: 2px solid var(--color-brand);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
}
body.dark .category-books-button {
  color: var(--color-light-theme);
}
@media screen and (min-width: 768px) {
  .category-section {
    width: 704px;
    padding-bottom: 40px;
  }
  .books-list-title {
    font-size: 48px;
    line-height: 1.08;
  }
  .books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(335px, auto);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
  }
  .book-image {
    height: 316px;
    width: 218px;
  }
  .category-books-button {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .category-section {
    width: 996px;
    padding-bottom: 40px;
  }
  .books-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
  }
  .book-image {
    height: 256px;
    width: 180px;
  }
}