.header-container {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 18px;
  padding-bottom: 12px;

  background-color: var(--color-white);
  color: var(--color-basic-text);
  outline: 1.5px solid var(--color-basic-text);
  border-radius: 0px 0px 8px 8px;
}

.logo-link {
  display: flex;
  gap: 8px;
}

.text {
  font-size: 22px;
  font-weight: 700;
}

.logo-icon {
  width: 109px;
  height: 28px;
}

.header-button-box {
  position: relative;
  display: flex;
  gap: 14px;
  align-items: center;
}

.sign-up-btn {
  display: none;
}

.authorizated-btn {
  display: none;
}

.log-out-btn {
  display: none;
}

.mobile-menu-container.is-hidden {
  display: none;
}

.mobile-menu-open-btn {
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border: none;
}

.burger-icon {
  stroke: var(--color-basic-text);
}

.burger-icon:hover,
.burger-icon:focus {
  fill: var(--color-brand);
}

.burger-icon .mobile-menu-close-icon {
  display: none;
}

.dark-theme .burger-icon {
  stroke: #ffffff;
  background-color: #111111;
}

.navigation-main {
  display: none;
}

.sign-up-pc {
  display: none;
}

// mobile menu
.mobile-menu-container {
  z-index: 1;
  position: absolute;
  top: 60px;
  max-width: 100%;

  background: url('../images/menu-header/books-mobile.png'), radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 100%;
  transition: transform 250ms var(--cubic-bezier);
  transform: translateY(-100%);
}

.mobile-menu-container.is-open {
  display: block;
  transform: translateY(0);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 490px) {
  .mobile-menu-container {
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .mobile-menu-container {
    background: url('../images/menu-header/books-mobile@2x.png'), radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }
}

// Mobile menu sign-up

.sign-up-btn-mobile {
  width: 184px;
  height: 48px;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 130px;

  display: flex;
  justify-content: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding-top: 14px;
  border: 1.5px solid var(--color-basic-text);
  border-radius: 18px;
  color: #ffffff;
  background-color: var(--color-brand);
}

.sign-up-icon {
  width: 20px;
  height: 20px;
  margin-left: 90px;
  fill: rgba(234, 198, 69, 1);
}

// Mobile menu authorization
.authorizated-mobile-menu-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.authorizated-mobile-menu-user {
  display: flex;
  align-items: center;
}

.authorizated-mobile-menu-user.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.user-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-theme);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 9px;
}

.user-icon {
  width: 19px;
  height: 19px;
  stroke: var(--color-basic-text);
}

.user-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.mobile-navigation-list.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  transition: transform 250ms var(--cubic-bezier);
}

.mobile-navigation-link {
  display: flex;
  align-items: center;
  color: inherit;
}

.logo-shop {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.log-out-mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  width: 118px;
  height: 48px;
  padding: 14px;
  border: 1.5px solid var(--color-basic-text);
  border-radius: 18px;
  color: var(--color-basic-text);
  background: #ffffff;
  margin-top: auto;
  margin-bottom: 20px;
}

.log-out-mobile-btn.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.log-out-mobile-btn .sign-up-icon {
  margin-left: 4px;
}

.mobile-menu-open-btn.is-open .mobile-menu-close-icon {
  display: block;
}

.mobile-menu-open-btn.is-open .mobile-menu-open-icon {
  display: none;
}

body.mobile-menu-open {
  overflow: hidden;
}

// Tablet 
@media screen and (min-width: 768px) {

  .mobile-menu-container,
  .mobile-menu-container.is-open {
    display: none;
  }

  .header-container {
    z-index: 0;
    justify-content: flex-start;
    padding-top: 14px;
    padding-bottom: 13px;
  }

  .logo-link {
    margin-right: 40px;
  }

  .navigation-main {
    display: block;
  }

  .navigation-list {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .navigation-item {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--color-basic-text);
    transition: color 250ms var(--cubic-bezier);
  }

  .navigation-link {
    display: flex;
    align-items: center;
    color: inherit;
    padding: 8px 16px;
    background-color: white;
    border-radius: 36px;
  }

  .active {
    padding: 8px 16px;
    font-weight: 700;
    background-color: var(--color-interactive);
    color: var(--color-basic-text);
    border-radius: 36px;
  }

  .navigation-item:hover {
    color: var(--color-brand);
  }

  .current {
    border-radius: 36px;
    background-color: var(--color-interactive);
    color: var(--color-basic-text);
    font-weight: 700;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .header-button-box {
    gap: 24px;
    align-items: center;
    margin-left: auto;
  }

  .sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    width: 184px;
    height: 48px;
    padding: 14px;
    border: 1.5px solid var(--color-basic-text);
    border-radius: 18px;
    color: #ffffff;
    background-color: var(--color-brand);
    transition: transform 250ms var(--cubic-bezier);
  }


  .sign-up-icon {
    margin-left: 90px;
  }

  .authorizated-pc {
    display: none;
  }

  .authorizated-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    padding: 4px 12px;
    border: none;
    border-radius: 36px;
    background-color: var(--color-brand);
    transition: box-shadow 250ms var(--cubic-bezier);
  }

  .authorizated-btn:hover,
  .authorizated-btn:focus {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  }

  .log-out-btn {
    position: absolute;
    width: 185px;
    height: 48px;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    padding: 14px;
    border: 1.5px solid var(--color-basic-text);
    border-radius: 18px;
    color: var(--color-basic-text);
    background-color: #ffffff;
  }


  .user-icon-arrow {
    width: 23px;
    height: 26px;
    margin-left: 4px;
    fill: #ffffff;
  }
}

// Desktop

@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }

  .navigation-list {
    gap: 24px;
  }

  .sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    width: 184px;
    height: 48px;
    padding: 14px;
    border: 1.5px solid var (--color-basic-text);
    border-radius: 18px;
    color: #ffffff;
    background-color: var(--color-brand);
  }

}

// dark theme

.dark-theme .header {
  background-color: var(--color-dark-theme);
}

.dark-theme .header-container {
  border: 1.5px solid #ffffff;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--color-basic-text);
}

.dark-theme .logo-icon {
  fill: #F3F3F3;

}

.dark-theme .navigation-link {
  color: #ffffff;
}

.dark-theme .logo-shop {
  fill: #ffffff;
}

.dark-them .icon-burger-menu {
  fill: #ffffff;
}

.dark-theme .icon-close {
  fill: #ffffff;
}

.dark-theme .navigation-link {
  background-color: var(--color-dark-theme);
}

.dark-theme .active {
  padding: 8px 16px;
  font-weight: 700;
  background-color: var(--color-interactive);
  color: var(--color-basic-text);
  border-radius: 36px;
}