#scrollUpBtn {
    box-sizing: border-box;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 64px;
    height: 64px;
    background-position: -10px -10px;
    border-color: rgba(79, 46, 232, 0.3);
    border-width: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-scroll-up {
    box-sizing: border-box;
    background-color: var(--color-brand);
    border-radius: 50%;
    border: none;
    fill: #ffffff;
    padding: 15px;
    width: 54px;
    height: 54px;
}