.shopping-list-title {
  width: 193px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
}
.dark-theme .shopping-word {
  color: #fff;
}
.list-word {
  color: var(--color-brand);
}
@media screen and (min-width: 768px) {
  .shopping-list-title {
    width: 292px;
    font-size: 48px;
    line-height: 1.08;
  }
}

.page-btn {
  width: 38px;
  height: 38px;
  margin-right: 8px;

  background-color: var(--color-light-theme);
  color: var(--color-basic-text);
  border: 1px solid var(--color-basic-text);
  border-radius: 20px;
  cursor: pointer;
}

.page-btn.active-page{
  background-color: var(--color-basic-text);
  color: var(--color-white);
}

@media screen and (min-width: 1440px) {
  .shopping-container {
    display: flex;
  }

  .shopping-books-wrapper {
    margin-left: 40px;
  }
}