.shopping-books-wrapper.empty {

  .shop-books-list {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px) {
      width: 349px;
    }
  }
  .shop-title {
    margin-bottom: 120px;

    @media screen and (min-width: 768px) {
      margin-bottom: 140px;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    column-gap: 23px;

    .shop-books-list {
      align-self: flex-end;
    }
  }
}

.empty-shop-text {
  width: 244px;
  margin-bottom: 14px;

  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.dark-theme .empty-shop-text {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .empty-shop-text {
    width: 100%;
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.33;
  }

  .empty-shop-img {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
  }
}