.shopping-list-title._empty {
  width: 193px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
}

.empty-shopping-wrapper {
  width: 265px;
  margin-left: auto;
  margin-right: auto;
}

.empty-shopping-text {
  width: 244px;
  margin-bottom: 14px;

  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.dark-theme .empty-shopping-wrapper {
  background-color: orange;
}

@media screen and (min-width: 768px) {
  .shopping-list-title._empty {
    width: 292px;

    font-size: 48px;
    line-height: 1.08;
  }

  .empty-shopping-wrapper {
    width: 349px;
  }

  .empty-shopping-text {
    width: 100%;
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.33;
    text-align: center;
  }

  .empty-shopping-books-img {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
  }
}
