.gallery-item {
  position: relative;
  display: flex;
  width: 335px;
  height: 170px;
  padding: 14px;

  background: var(--color-white);
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.dark-theme .gallery-item {
  background-color: var(--color-basic-text);
  color: var(--color-light-theme);
}

.gallery-image {
  display: block;
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.div_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 14px;
}

.title_card {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.dark-theme .title_card {
  color: var(--color-light-theme);
}

.category-book {
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
  color: var(--color-italic-text);
}

.btn-svg-remove {
  width: 16px;
  height: 16px;
  fill: var(--color-brand);
}

.btn-card_remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-dark-theme);
  cursor: pointer;
}

.card_text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.card_avter {
  justify-self: end;
  font-style: italic;
  font-size: 12px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--color-italic-text);
}

.div_svg-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  gap: 8px;
}

.btn-card_remove {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 14px;
  top: 14px;
  background: var(--color-brand);
}

.list-shops {
  position: absolute;
  right: 14px;
  bottom: 14px;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 8px;
}

.img-amazon {
  width: 32px;
  height: 11px;
}

.img-apple {
  width: 16px;
  height: 16px;
}

.shop-link {
  filter: grayscale(1);

}

.dark-theme .shop-link {
  filter: invert(3);
  mix-blend-mode: luminosity;
}

.img-bookshop {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .gallery-item {
    width: 704px;
    height: 213px;
    padding: 24px;
  }

  .gallery-image {
    width: 116px;
    height: 165px;
    border-radius: 8px;
  }

  .btn-card_remove {
    width: 34px;
    height: 34px;
    right: 24px;
    top: 24px;
  }

  .btn-svg-remove {
    width: 18px;
    height: 18px;
  }


  .list-shops {
    right: 24px;
    bottom: 24px;
    align-items: center;
    column-gap: 16px;
  }

  .img-amazon {
    width: 48px;
    height: 15px;
  }

  .img-apple {
    width: 28px;
    height: 27px;
  }

  .img-bookshop {
    width: 32px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-item {
    width: 996px;
    height: 213px;
  }
}