@media screen and (min-width: 1440px) {
  .main-container {
    display: flex;
  }

  .shopping-list__wrapper {
    margin-left: 40px;
  }
}

// WTF???????????????????
.main-container {
  min-height: 1500px;
}

.page-btn {
  width: 38px;
  height: 38px;
  margin-right: 8px;

  background-color: var(--color-basic-text);
  color: var(--color-white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}