// /* card */

.galleryitem {
  position: relative;
  display: flex;
  // align-items: flex-end;
  // justify-content: space-around;
  padding: 14px;
  width: 335px;
  height: 170px;
  background: #ffffff;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.dark-theme .galleryitem {
  background-color: #111111;
  color: var(--color-light-theme);
}

.galleryimage {
  display: block;
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.div_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 14px;
}

.title_card {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  // color: var(--color-basic-text);
}

.dark-theme .title_card {
  color: var(--color-light-theme);
}

.category-book {
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
  color: #b4afaf;
}

.btn-svg-close {
  width: 16px;
  height: 16px;
  fill: var(--color-brand);
}


.btn-card_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-dark-theme);
  cursor: pointer;
}

.card_text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.card_avter {
  // align-self: flex-end;
  justify-self: end;
  font-style: italic;
  font-size: 12px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.div_svg-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  gap: 8px;
}

.btn-card_close {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 14px;
  top: 14px;
  background: #4f2ee8;
}

.list-shops {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;
  right: 14px;
  bottom: 14px;
  // width: 80px;
  // height: 16px;
}

.img-amazon {
  width: 32px;
  height: 11px;
}

.img-apple {
  width: 16px;
  height: 16px;
}

.shop-link {
  filter: grayscale(1);

}

.dark-theme .shop-link {
  filter: invert(3);
  mix-blend-mode: luminosity;

}

.img-bookshop {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .galleryitem {
    padding: 24px;
    width: 704px;
    height: 213px;
    margin-bottom: 20px;
  }

  .galleryimage {
    width: 116px;
    height: 165px;
    border-radius: 8px;
  }

  .btn-card_close {
    width: 34px;
    height: 34px;
    right: 24px;
    top: 24px;
  }

  .btn-svg-close {
    width: 18px;
    height: 18px;
  }


  .list-shops {

    gap: 16px;
    align-items: center;
    right: 24px;
    bottom: 24px;
    // width: 80px;
    // height: 16px;
  }

  .img-amazon {
    width: 48px;
    height: 15px;
  }

  .img-apple {
    width: 28px;
    height: 27px;
  }

  .img-bookshop {
    width: 32px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .galleryitem {
    width: 996px;
    height: 213px;
  }
}