// Тестові стилі для картки Support
.support {
  width: 335px;
  height: 352px;
  border: red 1px solid;
}
.support.is-hide {
  display: none;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .support {
    height: 472px;
  }
}

@media screen and (min-width: 1440px) {
  .support {
    width: 356px;
    height: 490px;
  }
}
