@import '~node_modules/modern-normalize/modern-normalize.css';
@import './default/vars';
@import './default/base';
@import './default/container';

@import './menu-header';
@import './home';
@import './support';
@import './shopping-list';
@import './switcher';