<header class="header ">
  <div class="header-container container ">
    <div class="header-box">
      <a class="logo-link" href="./index.html">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg></a>
      <nav class="navigation-main">
        <ul class="navigation-list ">
          <li class="navigation-item ">
            <a class="navigation-link " href="/src/index.html">Home</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="/src/shopping-list.html">Shopping List
              <svg class="logo-shop">
                <use href="./images/sprite.svg#icon-shop"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header-button-box">
        <label class="switcher">
          <input type="checkbox" id="switcher">
          <span class="slider">
            <svg class="icon-theme-sun" width="15" height="15">
              <use class="icon-sun" href="./images/sprite.svg#icon-sun"></use>
            </svg>
            <svg class="icon-theme-moon" width="12" height="12">
              <use class="icon-moon" href="./images/sprite.svg#icon-moon"></use>>
            </svg>
          </span>
        </label>
        <button type="button" class="mobile-menu-open-btn" data-mobile-menu-btn>
          <svg class="burger-icon" width="28" height="28">
            <use class="mobile-menu-open-icon" href="./images/sprite.svg#icon-burger-menu"></use>
            <use class="mobile-menu-close-icon" href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="sign-up-pc">
          <button type="button" class="sign-up-btn" data-modal-open-sign>
            Sign up
            <svg class="sign-up-icon">
              <use href="./images/sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="authorizated-pc">
          <button type="button" class="authorizated-btn">
            <div class="user-icon-box">
              <svg class="user-icon">
                <use href="./images/sprite.svg#icon-user"></use>
              </svg>
            </div>
            <p class="user-name">Stephen</p>
            <svg class="user-icon-arrow">
              <use href="./images/sprite.svg#icon-header-bottom-arrow"></use>
            </svg>
          </button>
          <button type="button" class="log-out-mobile-btn visually-hidden">
            Log out
            <svg class="sign-up-icon">
              <use href="./images/sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="mobile-menu-container container is-hidden" data-mobile-menu>
    <div class="sign-up-mobile">
      <button type="button" class="sign-up-btn-mobile " data-modal-open-sign>Sign up<svg class="sign-up-icon">
          <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg></button>
    </div>

    <div class="authorizated-mobile-menu-box">
      <div class="authorizated-mobile-menu-user is-hidden ">
        <div class="user-icon-box is-hidden">
          <svg class="user-icon">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
        </div>
        <p class="user-name">Stephen</p>
      </div>
      <ul class="mobile-navigation-list is-hidden">
        <li class="mobile-navigation-item active">
          <a class="mobile-navigation-link" href="/src/index.html">Home</a>
        </li>
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-link" href="/src/shopping-list.html">Shopping List<svg class="logo-shop">
              <use href="./images/sprite.svg#icon-shop"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="log-out-mobile-btn is-hidden">
        Log out
        <svg class="sign-up-icon">
          <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <include src="./partials/loader.html"></include>
</header>