<header class="header">
  <div class="header-container">
    <div class="container header-menu">
      <div class="header-box">
        <a class="logo-link" href="./index.html">
          <svg class="logo-icon">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="navigation-main">
          <ul class="navigation-list">
            <li class="navigation-item current">
              <a class="navigation-link" href="/src/index.html">Home</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="/src/shopping-list.html"
                >Shopping List
                <svg class="logo-shop">
                  <use href="./images/sprite.svg#icon-shop"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <div class="header-button-box">
          <input
            class="theme-switcher-input"
            type="checkbox"
            name="checkbox"
            id="checkbox"
          />
          <button
            type="button"
            class="mobile-menu-open-btn"
            data-mobile-menu-btn
          >
            <svg class="burger-icon" width="28" height="28">
              <use class="mobile-menu-open-icon" href="./images/sprite.svg#icon-burger-menu"></use>
              <use class="mobile-menu-close-icon" href="./images/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <button
            type="button"
            class="sing-up-btn signUpBtn"
            data-modal-open-sign
          >
            Sing up
            <svg class="sing-up-icon">
              <use href="#"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-container" data-mobile-menu>
    <div class="authorizated-mobile-menu-box">
      <div class="authorizated-mobile-menu-user">
        <div class="user-icon-box">
          <svg class="user-icon">
            <use href="#"></use>
          </svg>
        </div>
        <p class="user-name">Stephen</p>
      </div>
      <ul class="mobile-navigation-list">
        <li class="mobile-navigation-item current">
          <a class="mobile-navigation-link" href="#">Home</a>
        </li>
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-link" href="#"
            >Shopping List<svg class="logo-shop">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="log-out-mobile-btn">
        Log out
        <svg class="sing-up-icon">
          <use href="#"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
