<div class="modal-auth">
  <div class="auth-content">
    <span class="auth-close">&times;</span>
    <form class="auth-form">
      <label for="auth-username"></label>
      <input
        class="auth-input"
        type="text"
        id="auth-username"
        name="auth-username"
        required
        placeholder="name"
      />
      <label for="auth-email"></label>
      <input
        class="auth-input"
        type="email"
        id="auth-email"
        name="auth-email"
        required
        placeholder="email"
      />
      <label for="auth-password"></label>
      <input
        class="auth-input"
        type="password"
        id="auth-password"
        name="auth-password"
        required
        placeholder="password"
      />

      <button class="auth-submit" type="submit">Sign up</button>
    </form>
  </div>
</div>
