<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shopping List</title>

  <link rel="stylesheet" href="../sass/_shopping-list.scss" />
  <include src="./basic-links.html"></include>
</head>

<body>
  <include src="./partials/header-menu.html"></include>

  <main>
    <include src="./partials/shopping-list.html"></include>
  </main>

  <include src="./partials/card-modal.html"></include>

  <script type="module" src="./js/home.js"></script>
  <script type="module" src="./js/shopping-list.js"></script>

</body>

</html>