<div class="support">
  <p class="support-title">
    Support Ukraine
    <svg width="20px" height="32px" class="trident-icon">
      <use href="./images/sprite.svg#icon-trident"></use>
    </svg>
  </p>

  <ul class="foundations-list">
    <li class="foundation">
      <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank">
        <img
          srcset="./images/support/save@2x.png 2x"
          src="./images/support/save.png"
          alt="Save the Children"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://www.projecthope.org/country/ukraine/" target="_blank">
        <img
          srcset="./images/support/hope@2x.png 2x"
          src="./images/support/hope.png"
          alt="Project HOPE"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank">
        <img
          srcset="./images/support/medical@2x.png 2x"
          src="./images/support/medical.png"
          alt="International Medical Corps"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://www.razomforukraine.org/" target="_blank">
        <img
          srcset="./images/support/razom@2x.png 2x"
          src="./images/support/razom.png"
          alt="RAZOM"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank">
        <img
          srcset="./images/support/action@2x.png 2x"
          src="./images/support/action.png"
          alt="Action against hunger"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://prytulafoundation.org/en" target="_blank">
        <img
          srcset="./images/support/prytula@2x.png 2x"
          src="./images/support/prytula.png"
          alt="Serhiy Prytula Charity Foundation"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://www.msf.org/ukraine" target="_blank">
        <img
          srcset="./images/support/medecons@2x.png 2x"
          src="./images/support/medecons.png"
          alt="Medicins Sans Frontieres"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://u24.gov.ua/uk" target="_blank">
        <img
          srcset="./images/support/united24@2x.png 2x"
          src="./images/support/united24.png"
          alt="UNITED24"
          class="foundation-icon"
        />
      </a>
    </li>
    <li class="foundation">
      <a href="https://www.wvi.org/emergencies/ukraine" target="_blank">
        <img
          srcset="./images/support/world@2x.png 2x"
          src="./images/support/world.png"
          alt="World vision"
          class="foundation-icon"
        />
      </a>
    </li>
  </ul>

  <button class="foundations-more" type="button">
    <svg class="icon-top" width="20px" height="20px">
      <use href="./images/sprite.svg#icon-top-arrow"></use>
    </svg>
  </button>
</div>
